<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon> Custom Foods
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon> Recipes
      </a>
      <a mat-list-item>
        <mat-icon>content_paste</mat-icon> Products
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
        <div>My Week</div>
        <span class="nav-tool-items">
        </span>
    </mat-toolbar>

    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="mat-typography title-group">
      <h1>{{today | date:'d MMM y' }} - {{nextWeek[6]| date:'d MMM y' }}</h1>
      <mat-divider></mat-divider>
    </section>

    <!-- Angular material cards -->
    <div class="productCards">
      <mat-grid-list cols="7" rowHeight="800px">
        <ng-container *ngFor="let dayOfWeek of nextWeek">
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{dayOfWeek| date:'d MMM y' }}</mat-grid-tile>
        </ng-container>

      </mat-grid-list>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>